:root {
  font-family: 'Courier New', Courier, monospace;
  background-color: #cc5566;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0px;
  border: 1px solid black;
  font-size: 1em;
  cursor: pointer;
  transition: border 0.25s, border-radius 0.25s, transform 0.25s;
    margin: 30px 10px;
  background-color: #ffddee
}
button:hover {
  border: 1px solid black;
  border-radius: 15px;
  transform: rotate(0.5deg);
}

#app {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
